body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin: 1%;
}
.member {
  margin: 2% 5%;
  padding: 0 2% 2% 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 0 0 10px silver;
}